* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../images/background\ image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.todo-app {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  border: 3px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
}

.todo-app h1 {
  font-size: 2rem;
}

.input-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-input {
  flex: 1;
  padding: 10px 17px;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-radius: 22px;
  background: rgba(255, 194, 209, 0.3);
  color: #dbdbdb;
}

.task-input::placeholder {
  color: #bcbcbc;
}

.add-task-button {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 1.1rem;
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 50%;
  background-color: rgba(255, 194, 209, 0.3);
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease;
}

.add-task-button:hover {
  transform: scale(1.1);
  background-color: #ff6f91;
}

.task-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-list ul {
  width: 100%;
}

img {
  width: 250px;
  height: 100%;
}
